.resume {
  width: 80%;
  margin: 0 auto;
  padding: 30px 40px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ccc;
  text-align: left;
}

.resume-section {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 10px;
}

.resume-person,
.details-group {
  display: flex;
  flex: 1;
}

.resume-person .picture {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  margin-right: 30px;
  background: #f5f5f5;
  overflow: hidden;
}

.resume-person .picture img {
  width: 100%;
}

.d-left,
.d-right {
  width: 50%;
}

.d-right {
  text-align: right;
}

.person-details {
  margin-bottom: 20px;
}

.person-contacts span {
  display: block;
}

.full-experience {
  color: #adabab;
  font-weight: 500;
  font-size: 17px;
}

.experience-item {
  padding-left: 40px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

.experience-item::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background: rgb(243, 161, 161);
  position: absolute;
  bottom: 0;
}

.experience-item:last-child:after {
  display: none;
}

.experience-header {
  display: flex;
}

.experience-position {
  margin: 10px 0;
}
.experience-term {
  font-weight: 400;
  margin-left: 10px;
}

.experience-desc {
  width: 370px;
  white-space: pre-line;
}

.education-item {
  padding-left: 40px;
  margin-top: 10px;
}
.education-term {
  font-weight: 400;
}

.about-text {
  white-space: pre-wrap;
}

.resume-controls {
  display: flex;
}

.resume-controls .btn-apply {
  margin-right: 20px;
}

@media screen and (max-width: 720px) {
  .resume {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .resume-person {
    flex-direction: column;
  }
  .details-group {
    flex-direction: column-reverse;
  }
  .resume .d-left,
  .resume .d-right {
    width: 100%;
  }

  .resume .d-right {
    text-align: left;
    margin-bottom: 20px;
  }

  .salary {
    text-align: left;
  }

  .full-experience {
    display: block;
  }

  .experience-item,
  .education-item {
    padding-left: 0;
  }
  .experience-header {
    flex-direction: column;
  }
  .experience-term {
    margin-left: 0;
  }
  .experience-desc {
    width: 100%;
  }
}
