.resume-form {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.form-section {
  margin-bottom: 40px;
}

.form-section h4 {
  margin-bottom: 10px;
}

.form-group {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.field-label {
  width: 240px;
  display: inline-block;
  font-weight: 500;
}

.field-block {
  position: relative;
}

.field {
  width: 245px;
  padding: 8px 10px;
  box-sizing: border-box;
}

.form-text .field-label {
  margin-bottom: 10px;
}

.label-span {
  font-size: 14px;
  font-weight: 300;
  width: 170px;
}
.form-text textarea {
  width: 350px;
  min-height: 200px;
  box-sizing: border-box;
}

.field-error {
  margin-top: 5px;
  color: red;
}

.form-section h3 {
  margin-bottom: 20px;
}

.section-education h3,
.section-experience h3 {
  display: inline-block;
  margin-right: 20px;
}

.form-experience,
.form-education {
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  border-left: 1px solid #ccc;
}

.add-group-btn,
.remove-group-btn {
  display: block;
  border: none;
  padding: 10px 20px;
  padding: 10px 20px;
  font-size: 12px;
  padding: 8px 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.add-group-btn {
  display: inline-block;
  background: #ff8d17;
}

.add-group-btn:hover {
  background: #d48636;
}

.remove-group-btn {
  background: #9605e0;
}

.remove-group-btn:hover {
  background: #b340ec;
}

.field-about {
  width: 400px;
}

.field-about textarea {
  width: 100%;
  min-height: 100px;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.file-image {
  width: 100px;
  height: 100px;
  position: relative;
  margin-right: 20px;
}

.file-image img {
  width: 100%;
}

.dropable {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dropable:hover {
  background: rgba(4, 4, 4, 0.4);
}

.image-remove-btn {
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 5;
}

.form-controls {
  display: flex;
}

@media screen and (max-width: 790px) {
  .resume-form {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .resume-form .form-group,
  .resume-form .field-block,
  .resume-form .field {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .resume-form {
    width: 100%;
    padding: 20px;
  }
  .form-experience,
  .form-education {
    padding-left: 0;
    margin-left: 0;
    border: 0;
  }
}
